<p>
  This comes from the user-list html page
</p>

<table border=1>
<tr>
  <th> First Name </th>
  <th> Last Name </th>
</tr>

<tr *ngFor="let user of users" >
  <td> {{user.firstName}} </td>
  <td> {{user.lastName}} </td>
  <td> <button (click)="this.editUser(user)"> Edit </button> </td>
  <td> <button (click)="deleteUser(user)"> Delete  </button> </td>
</tr>

<tr *ngIf="editingUserState">
  <td> <input [(ngModel)]="firstNameToEdit" /> </td>
  <td> <input [(ngModel)]="lastNameToEdit" />
  <td> <button (click)="this.saveUserEdit()"> Save </button> </td>
  <td> <button (click)="this.cancelEdit()"> Cancel </button> </td>
</tr>

<tr *ngIf="addingUserState">
  <td> <input [(ngModel)]="this.newFirstName" /> </td>
  <td> <input [(ngModel)]="this.newLastName" /> </td>
  <td> <button (click)="this.saveNewUser()"> Save </button> </td>

</tr>

</table>

<br>
<button (click)="addingUser()"> Add a user </button>
